<nav class="navbar">
  <div class="logo">My E-Comm</div>
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
    <li class="cart-container" (click)="goToCart()">
      <span class="cart-icon">🛒</span>
      <span class="cart-text">Cart</span>
      <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </li>
  </ul>
</nav>
<hr />
