.dashboard-container {
  min-height: calc(100vh - 64px);
  padding: 24px;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.content.category-view {
  margin: 0;
  max-width: none;
}
